body {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background: #f8f8f8;
}
body, div,  ul, li, h1, input, textarea, p, footer,  nav {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.content {} .fr {
    float: right
}
.fl {
    float: left
}
body {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
}
body, div, ul, li, h1, input, textarea, p, footer, nav {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
h1 {
    font-size: 40px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 0px;
}


p.blocktext {
    width: 500px;
    margin: auto;
}
a {
    color: #00a0de;
    text-decoration: none;
}
a:hover {
    color: #f60;
    text-decoration: none;
}

.banner {
    text-align: center;
}

.icon {
    text-align: center;
}

.nav {
    background: #f7f7f7;
    height: 46px;
    line-height: 30px;
    border-bottom: 3px solid #101580;
    margin-bottom: 30px;
}
.nav ul {
    width: 860px;
    padding-left: 40px;
    margin: 0 auto
}
.nav ul li {
    width: 190px;
    float: left;
    text-align: center;
    line-height: 46px;
    overflow: hidden;
    height: 46px;
}
.nav ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}
.nav ul li a:hover, .nav ul li a.cur {
    background-color: #f8f8f8;
    font-weight: bold
}

.foot {
    background: url(images/foot.gif) center 0 no-repeat;
    height: 166px;
}
.footer {
    color: #666;
    padding-top: 100px;
    text-align: center;
}

.button {
    width: 100px;
    background: #101580;
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}
.button:hover {
    background: #2288bb;
}
#login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}
#triangle {
    width: 0;
    border-top: 12x solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #101580;
    border-left: 12px solid transparent;
    margin: 0 auto;
}
#login h1 {
    background: #101580;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
form {
    background: #f0f0f0;
    padding: 6% 4%;
}
input[type="email"], input[type="password"] {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}
input[type="submit"] {
    width: 100%;
    background: #101580;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    margin-bottom: 2px;
}
input[type="submit"]:hover {
    background: #2288bb;
}
input[type="submit1"] {
    width: 30%;
    height: 20px;
    background: #101580;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    margin-bottom: 2px;
    text-align: center;
}
input[type="submit1"]:hover {
    background: #2288bb;
}
.center {
    text-align: center;
    width: 100%;
}
.footer li {
    display: inline-block;
}
.abc {
    width: 63%;
    margin: auto;
    height: 360px;
}
.left {
    float: left;
    height: inherit;
}
.right {
    height: inherit;
    margin-left: 290px;
}
.rightBottom {
    margin-top: 20px;
}
